#top-mid{
	height: 19px;
	background-color:#3d3d3d;
}
#logo-mid{
	height: 114px;
	background-color:#fdfdfd;
}
#banner-top{
	height: 225px;
	background-color:#2b5c6d;
}
#main-mid{
	height: 45px;
	background-color:#1c1c1c;
}
#footer-mid{
	height: 382px;
	background-color:#ffffff;
}